
#messages {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 400px;
    width: 350px;
    overflow-y: scroll;
    padding-top: 15px;
    padding-left: 10px;
    gap: 5px;
}